html
  head
    title= 'Number Quiz'
  body 
    h1= 'The Number Quiz'

    p= 'Your current score is '+ score 
    p= 'You have completed the Number Quiz, with score of '+ score+ ' out of '+ max
    a(href="http://localhost:2020/")='Restart the game>>' 
      